@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Book your table</h1>
</div>

<div class="text-center">
    <a class="btn btn-info btn-lg" asp-area="" asp-controller="Restaurant" asp-action="GetRestaurants">Display all restaurants</a>
</div>
